.header {
  min-height: 120vh;
  padding-top: 7rem;
  /* overflow: hidden; */
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 2rem;
  gap: 1rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
  align-self: center;
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  max-height: 27rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  -webkit-border-radius: 12rem 12rem 0 0;
  -moz-border-radius: 12rem 12rem 0 0;
  -ms-border-radius: 12rem 12rem 0 0;
  -o-border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}
/* .me img {
  min-height: 40rem;
} */

.scroll__down {
  position: absolute;
  right: 0rem;
  bottom: 5rem;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem
}

@media screen and (max-width: 1024px) {
  .header {
    height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 16rem;
  margin-in
  /* padding: 5rem 1.5rem 1.5rem 1.5rem; */
}


}